.userPageHeader {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 1rem;
}

.userPageImgContainer {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 4rem;
}

.userPageImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem;
}

.username {
    text-align: center;
    font-weight: 300;
}

.statsContainer {
    display: flex;
}

.stat {
    padding: 0.8rem;
}
.statNumber {
    font-size: 0.8rem;
    text-align: center;
}

.statKind {
    font-family: 'Grand Hotel', cursive;
    font-size: 1.1rem;
}

.userPageDescription {
    font-size: 0.8rem;
    padding: 0.8rem 1.4rem;
}