@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #FFD600;
  --orange: #FF6B00;
  --white: #FFFFFF;
  --black: #161514;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #161514;
  color: #FFFFFF;
}

.gradientText {
  background-color: var(--yellow);
  background-image: linear-gradient(45deg, var(--yellow), var(--orange));
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.feature {
  text-align: center;
}