.logoText {
    font-family: 'Grand Hotel', cursive;
    font-size: 2rem;
    margin: auto;
    padding: 0.5rem;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.fa-paper-plane {
    margin-left: 1.4rem;
    margin-right: 0.4rem;
    color: var(--white);
    font-size: 1.2rem;
}
.fa-bell {
    color: var(--white);
    font-size: 1.2rem;
}

.counter {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: var(--orange);
    text-align: center;
    border-radius: 1rem;
    color: var(--black);
    font-weight: 500;
    position: relative;
    bottom: 10px;
    left: -5px;
}
