.gradientText {
    background-color: var(--yellow);
    background-image: linear-gradient(45deg, var(--yellow), var(--orange));
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.registerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 4rem;
    margin: auto;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.registerForm input[type="email"], input[type="text"], input[type="password"] {
    text-align: center;
    padding: 1rem 1rem 0.3rem 1rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.registerForm input[type="text"], input[type="password"] {
    margin-top: 1rem;
}

.registerForm input[type="submit"] {
    padding: 0.4rem 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 800;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--yellow), var(--orange)) 1;
    align-self: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid var(--white);
    display: block;
    border-radius: 5px;
    margin-top: 2rem;
    width: 80%;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
    align-self: center;
}

.loginRegisterLink {
    font-weight: 200;
    margin: auto;
    margin-top: 4rem;
}

.link {
    margin-left: 10px;
    font-weight: 500;
}